<li class="liShoppingCart">
	{{Ingredients}}

	<button class="delete-ingredient close red" data-id="{{this.id}}" type="button" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>

</li>