<body>

    <!--Navbar-->
    <div class="col">
        <nav class="navbar navbar-expand-lg navbar">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Welcome
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Home</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="cart">Shopping List</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="profile">My Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

    <div class="container">
        <div class="jumbotron">

        </div>
    </div>
    <br>

    <div class="container exclude">
        <div class="row">
            <div class="col-md-12">
                <div class="card shoList">
                    <div class="card-body shopping">
                        <h1>Your Shopping List</h1>
                        <p>Need to add a recipe ingredient to your grocery list? Keep track of that here!</p>
                        <hr>
                        <table>
                            <td>
                                <ul>
                                    {{#each CartTable}}
                                    {{>cart-block}}
                                    {{/each}}
                                </ul>
                            </td>
                        </table>


                        <!--Featured Recipes-->
                        <div class="container-fluid exclude">

                            <hr>
                            <h2 class="text-center mb-3">Featured Recipes</h2>
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                                <div class="carousel-inner row w-100 mx-auto">

                                </div>

                                <!--<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                <span class="sr-only">Next</span>
            </a>-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card footer">
        <div class="card-body">
            <footer> &copy; Team Spicy
                <br>
                <a href="/terms">Terms & Conditions</a> | <a href="https://www.freeprivacypolicy.com/privacy/view/3bacecdb4b760eec9704acfc546011be">Privacy Policy</a>
            </footer>
        </div>
    </div>
</body>